SAE BDD Rapport de phase 2 écrit par Léo-Paul

Ce travail a été réalisé sur une machine virtuelle linux créé par mes soins sur mon ordinateur personnel.  

Le code commence avec l'importation des modules utiles pour le futur code comme fait ci dessous.

In [ ]:
%load_ext sql
from sqlalchemy import insert
import psycopg2

Ensuite on ouvre la base de donnée où l'on réalisera le travail.

In [ ]:
%sql postgresql://postgres:491420@localhost/postgres

Le choix de comment divisé les tables fut assez longue car ne sachant pas du tout comment je devrais articuler dans le futur les lignes de code. J'ai alors décidé de faire les 5 tables présente ci dessous. L'utilité de la table SURVIVOR et DEAD séparé était de pouvoir plus tard faire des "select" beaucoup plus facile a écrire dans certain cas. Les tables passenger et ticket se sont imposés d'elle même et la table bateau fut un peu la table des donnée qu'on ne savait pas placé autre part. La longue taille alloué au VARCHAR() est quand a elle dû au besoin de grande place nessité par les nom et prénom très long, car après avoir fait des tests avec des valeurs théorique plus petite j'ai réalisé que cela faisait des erreurs car pas assez de place disponible pour la donnée.

In [ ]:
%%sql
CREATE TABLE PASSENGER (PassengerId NUMERIC PRIMARY KEY,Nom VARCHAR(100),Sex VARCHAR(10),Age NUMERIC,Parch NUMERIC,SibSp NUMERIC);
CREATE TABLE SURVIVOR (PassengerId NUMERIC PRIMARY KEY,Nom VARCHAR(100));
CREATE TABLE DEAD (PassengerId NUMERIC PRIMARY KEY,Nom VARCHAR(100));
CREATE TABLE TICKET (Ticket VARCHAR(50) PRIMARY KEY,Fare NUMERIC,Pclass NUMERIC,PassengerId NUMERIC);
CREATE TABLE BATEAU (Ticket VARCHAR(50),PassengerId NUMERIC,PRIMARY KEY(Ticket,PassengerID),Cabin VARCHAR(20),Embarked VARCHAR(10));

Le code ci dessous a pour but de remplir nos tables. N'arrivant pas avec des codes tels que copy j'ai dû réfléchir a faire ca mannuellement, vu que j'arrivais a rentrez les données a la main, ce qui aurait été impossible. Ainsi j'ai créé ce code qui code "mannuellement" a notre place créant pour chaque ligne du fichier un tableau de valeur que l'on manipule afint de rentrer les valeur désiré dedans.

In [ ]:
#ouverture du fichier csv et mise a la ligne où les premières valeur se trouve (d'ou la répétion de la ligne li=...)
F=open("/home/norade/Downloads/titanic_train.csv","r")
li=F.readline()
li=F.readline()
#création du tableau ticket utile plus tard 
ticket=[]
#cette boucle est codé de facon a ce qu'elle ne se stoppe que lorsque le fichier est terminé
while li!='':
    #création de tab un tableau qui se réécrit a chaque saut de ligne qui contiendra nos futures valeurs 
    #création de temp servant a contenir les valeurs incomplète: ex le mot bonjour après le 3eme tour, temp contient la chaine
    #"bon" et lors de la quatrième boucle "bonj".
    #ajout a la chaine qu'est li une virgule pour que la dernière valeur soit enregistré
    li+=','
    tab=[]
    temp=None
    #cette boucle lis donc toute la ligne cractère par caractère découpant les donnés par la présence d'une virgule
    #exemple: "je suis 18" seras une seule donnée dans le tableau alors que "je suis,18" seras deux donnée différente
    for i in range(len(li)):
        if li[i]!=',' and temp==None:
            temp=li[i]
        elif li[i]!=',':
            temp+=li[i]
        elif li[i]==',':
            tab.append(temp)
            temp=None
    #a la fin de la boucle tab contient toute les valeurs dont on a besoin, on les attribut donc a des variables pour
    #faciliter la visibilité mais cette partie n'est pas nessecaire en elle même sauf pour rep3. En effet les nom des 
    #passager qui est la quatrième donnée du tableau contiennent tous une "," après le nom de famille, on concatène alors
    #les deux cellules du tableau pour qu'elle ne refasse qu'un
    rep0=tab[0]
    rep1=tab[1]
    rep2=tab[2]
    rep3=tab[3]+tab[4]
    rep4=tab[5]
    rep5=tab[6]
    rep7=tab[7]
    rep8=tab[8]
    rep9=tab[9]
    rep10=tab[10]
    rep11=tab[11]
    rep12=tab[12]
    #ici on s'assure que les tickets ne sont pas les mêmes valeurs, en effet certains ticket sont identiques pour 2
    #personnes voyageant ensemble. En faisant cela donc les ticket qui était les même et dont il était nessecaire qu'ils
    #soit différent sont modifié. (plus tard lorsque nous créeront les "select" cela devra bien sur être prit en compte)
    for elt in ticket:
        if elt==rep9:
            rep9+="-02"
    ticket.append(rep9)
    #ouverture de la base de donnée, modification des tables selon les variables calculée (alternative pour Survivor
    # et Dead pour bien séparer les morts des vivants) conservation de la modification puis fermeture
    conn = psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    cur.execute("INSERT INTO PASSENGER (PassengerId,Nom,Sex,Age,Parch,SibSp) VALUES (%s,%s,%s,%s,%s,%s)",(rep0,rep3,rep4,rep5,rep8,rep7))
    if rep1=='1':
        cur.execute("INSERT INTO SURVIVOR (PassengerId,Nom) VALUES (%s,%s)",(rep0,rep3))
    else:
        cur.execute("INSERT INTO DEAD (PassengerId,Nom) VALUES (%s,%s)",(rep0,rep3))
    cur.execute("INSERT INTO TICKET (Ticket,Fare,Pclass,PassengerId) VALUES (%s,%s,%s,%s)",(rep9,rep10,rep2,rep0))
    cur.execute("INSERT INTO BATEAU (Ticket,PassengerId,Cabin,Embarked) VALUES (%s,%s,%s,%s)",(rep9,rep0,rep11,rep12))
    conn.commit()
    cur.close()
    conn.close()
    #passage a la ligne suivante
    li=F.readline()

ci dessous ce sont nos lignes j'ai préféré garder et vous montrer. Les Select servant a vérifier que les tables se remplissait bien et totalement. Les drops quand a eux servait a réinitialiser mes tables dès qu'une erreur survenait lors du remplissage, pour soit vider les tableaux des valeurs déjà entrer soit modifié la longueur des variables ou ce genre de choses. Je n'avais alors qu'a lancer a nouveau les cellules de création de tables.

In [ ]:
%%sql 
SELECT * FROM TICKET;
SELECT * FROM PASSENGER;
SELECT * FROM SURVIVOR;
SELECT * FROM DEAD;
SELECT * FROM BATEAU;

In [ ]:
%%sql
DROP TABLE PASSENGER;
DROP TABLE SURVIVOR;
DROP TABLE DEAD;
DROP TABLE TICKET;
DROP TABLE BATEAU;

# Partie requêtes

Cette partie fut plus simple que les précédentes grace au tp régulier fait en cours, ainsi j'ai a peu près déjà user de requête SQL, le plus long fut de les retranscrirent en psycopg2. Comme vous allez le voir j'ai créé des fonctions python qui répondent aux requêtes désirées. Cette fois ci mis a part quelques cas spéciaux je ne décrirais qu'en général les fonctions car elle réutilise souvent les lignes décrite plus haut.

la première requête:
"Combien de classes de passages différentes y avait il a bord du titanic"

demandant de compter le nombre de classe, j'ai simplement lu le nombre de lignes rendus par la selection, puis écrivais une petite réponse écrite

In [ ]:
def nbr_class():
    x= "SELECT PCLASS FROM TICKET GROUP BY PCLASS"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    cur.execute(x)
    y= cur.fetchone()
    rep=0
    while y:
        rep+=1
        y= cur.fetchone()
    print("le nombre de classe est de:",rep)
    cur.close()
    
nbr_class()

La seconde requête:
"Combien de passagers y avait il dans chaque classe?"

étant assez similaire a la première j'ai simplement remplacer la ligne qui comptait le nombre de ligne par une ligne qui affichait le contenu des lignes parcourues avec un petit texte encore une fois

In [ ]:
def nbr_pass_class():
    x= "SELECT PCLASS,count(*) FROM TICKET GROUP BY PCLASS"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    cur.execute(x)
    y= cur.fetchone()
    while y:
        print("la classe",y[0],"possède",y[1],"passagers")
        y= cur.fetchone()
    cur.close()
    conn.close()
    
nbr_pass_class()

La troisième requète:
"Combien de femmes et d'hommes y avait-il dans chaque classe?"

estpresque identique a la seconde, elle ne prends que plus d'arguments de sortie

In [ ]:
def nbr_pass_sx_class():
    x= "SELECT ticket.PCLASS,count(*),passenger.sex FROM TICKET NATURAL JOIN PASSENGER GROUP BY PCLASS,passenger.sex ORDER BY pclass"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    cur.execute(x)
    y= cur.fetchone()
    while y:
        print("la classe",y[0],"possède",y[1],"passagers",y[2])
        y= cur.fetchone()
    cur.close()
    conn.close()

nbr_pass_sx_class()

quatrième requète:
"Comptez le nombre et le pourcentage de survivants et morts par classe"

Lors de la création de nos tables je n'étais pas encore assez au fait des requêtes et de leurs fonctionnalités, alors lorsque j'arrivais a cette question j'avais été légèrement perdus car je désirais conserver le système précedent avec 1 seule requète. C'était hélas impossible sans réécrire mes tables, j'ai alors contourner la difficulté en divisant en 2 requêtes et ce fut immédiatement bien plus simple

In [ ]:
def nbr_percent_surv_mort():
    x1= "SELECT count(*) FROM DEAD"
    x2= "SELECT count(*) FROM SURVIVOR"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    cur.execute(x1)
    y1= cur.fetchone()
    cur.execute(x2)
    y2= cur.fetchone()
    print("il y a eu",y1[0],"victimes et",y2[0],"survivants ce qui équivaut a",round(y1[0]/(y1[0]+y2[0])*100,2),"% de victimes et",round(y2[0]/(y1[0]+y2[0])*100,2),"% de survivants")
    cur.close()
    conn.close()

nbr_percent_surv_mort()

cinquième & sixième requête:
"Visualisez la répartition des passagers survivants et des passagers morts par classe" & "Visualiser la répartition des passagers survivants et des passagers décédés selon le sexe"

Les deux fonctions qui suivent sont un peu spéciales. En effet comme dit pour la précédentes requêtes réécrire nos tables auraient été trop chronophage, alors ne sachant pas vraiment comment créé une vue en plusieurs requêtes ce qui selon nos recherches pendants ce travaille s'est réveler semble t il impossible. Alors bien ennuyer ne sachant pas comment avancer, j'ai même penser abandonner, mais j'ai alors eu que j'ai finalement utilisé: créé deux tables temporaires, peu importantes, qui contiendrait les donnée que l'on aimerait voir appraitre dans la vue et faire la vue a partir de cette table. C'est encore une fois un moyen de contourner la difficulté.

Mention spéciale pour l'utilisation de fetchall, celle ci était neccessaire car on avait besoin que les données des 2 requêtes soit disponible en même temps ce qui n'est pas possible avec fetchone qui aurait écrasé les données a chaque fois qu'on l'utilisait pour passer d'une requête a l'autre. Fetchall lui fait un tableau contenant toute les lignes des requètes ce fut alors de la simple manipulation de tableau

Cependant comme on me l'a fait remarquer cette methode n'est pas du tout optimal car après modification des tables origales il faut relancer cette fonction après avoir utiliser la fonction delete (celle définie plus bas)

In [ ]:
def view_pass_surv_mort():
    %sql CREATE TABLE TEMPO(classe varchar(100) PRIMARY KEY,nbr_mort varchar(100),pourcent_mort varchar(100),nbr_surv varchar(100),pourcent_surv varchar(100),total varchar(100))
    x1= "SELECT pclass,count(*) FROM TICKET WHERE passengerid IN (SELECT passengerid FROM DEAD) GROUP BY pclass"
    x2= "SELECT pclass,count(*) FROM TICKET WHERE passengerid IN (SELECT passengerid FROM SURVIVOR) GROUP BY pclass"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    i=0
    cur.execute(x1)
    y1= cur.fetchall()
    cur.execute(x2)
    y2= cur.fetchall()
    cur.close()
    conn.close()
    while i<=2:
        total=y1[i][1]+y2[i][1]
        val1=y1[i][0]
        val2=y1[i][1]
        val3=y1[i][1]/total*100
        val4=y2[i][1]
        val5=y2[i][1]/total*100
        conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
        cur=conn.cursor()
        cur.execute("INSERT INTO TEMPO (classe,nbr_mort,pourcent_mort,nbr_surv,pourcent_surv,total) VALUES (%s,%s,%s,%s,%s,%s)",(val1,val2,val3,val4,val5,total))
        i+=1
        conn.commit()
        cur.close()
        conn.close()
    %sql CREATE VIEW temp AS SELECT * FROM TEMPO
    
view_pass_surv_mort()

In [ ]:
def view_pass_surv_mort_sex():
    %sql CREATE TABLE TEMPO1(classe varchar(100),sex varchar(100),PRIMARY KEY(classe,sex),nbr_mort varchar(100),pourcent_mort varchar(100),nbr_surv varchar(100),pourcent_surv varchar(100),total varchar(100))
    x1= "SELECT ticket.PCLASS,count(*),passenger.sex FROM TICKET NATURAL JOIN PASSENGER WHERE passengerid IN (SELECT passengerid FROM DEAD) GROUP BY PCLASS,passenger.sex ORDER BY pclass"
    x2= "SELECT ticket.PCLASS,count(*),passenger.sex FROM TICKET NATURAL JOIN PASSENGER WHERE passengerid IN (SELECT passengerid FROM SURVIVOR) GROUP BY PCLASS,passenger.sex ORDER BY pclass"
    conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
    cur=conn.cursor()
    i=0
    cur.execute(x1)
    y1= cur.fetchall()
    cur.execute(x2)
    y2= cur.fetchall()
    cur.close()
    conn.close()
    while i<=5:
        total=y1[i][1]+y2[i][1]
        val1=y1[i][0]
        val2=y1[i][1]
        val3=round(y1[i][1]/total*100,2)
        val4=y2[i][1]
        val5=round(y2[i][1]/total*100,2)
        val6=y1[i][2]
        conn= psycopg2.connect(database ="postgres",user = "postgres",password ="491420",host = "localhost")
        cur=conn.cursor()
        cur.execute("INSERT INTO TEMPO1 (classe,sex,nbr_mort,pourcent_mort,nbr_surv,pourcent_surv,total) VALUES (%s,%s,%s,%s,%s,%s,%s)",(val1,val6,val2,val3,val4,val5,total))
        i+=1
        conn.commit()
        cur.close()
        conn.close()
    %sql CREATE VIEW temp1 AS SELECT * FROM TEMPO1
    
view_pass_surv_mort_sex()

Pour une raison étrange, si les deux lignes si dessous se trouvait dans les deux fonction précédentes les vues ne s'affichaient pas, alors voici les deux lignes a part pour observer le résultat après avoir lancer les deux fonctions précédentes

In [ ]:
%sql SELECT * FROM TEMP

In [ ]:
%sql SELECT * FROM TEMP1

Comme lors de la partie 1 nous laissons ici le moyen d'effacer les tables et les vues créé lors de la partie

In [ ]:
def delete():
    %sql DROP VIEW TEMP
    %sql DROP VIEW TEMP1
    %sql DROP TABLE TEMPO
    %sql DROP TABLE TEMPO1
    
delete()